USE [master]
GO
/****** Object:  Database [VegetablesAndFruits]    Script Date: 10.03.2024 20:30:13 ******/
CREATE DATABASE [VegetablesAndFruits]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VegetablesAndFruits', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VegetablesAndFruits.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VegetablesAndFruits_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VegetablesAndFruits_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VegetablesAndFruits].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VegetablesAndFruits]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 10.03.2024 20:30:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Calories] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [Name], [Type], [Color], [Calories]) VALUES (1, N'Яблоко', N'фрукт', N'Красный', 52)
INSERT [dbo].[Items] ([ItemID], [Name], [Type], [Color], [Calories]) VALUES (2, N'Банан', N'фрукт', N'Желтый', 89)
INSERT [dbo].[Items] ([ItemID], [Name], [Type], [Color], [Calories]) VALUES (3, N'Апельсин', N'фрукт', N'Оранжевый', 47)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
USE [master]
GO
